<!doctype html>
<html>

<head>
  <title>Roam Around</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="profile.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@700&display=swap" rel="stylesheet">
</head>

<body>

  <div id="header">

    <div id="nav">
        <div id="logo">
            <img src="img/logos/compass-sm.png" id="compass">
            <h1>Roam Around</h1>
        </div>

        <div id="navbar">

            <div class="login">
                <a href="/" type="submit" class="slide_down">Home</a>
                <a href="/signup" type="submit" class="slide_down">Signup</a>
                <a href="/login" type="submit" class="slide_down">Login</a>
                <a href="/logout" type="submit" class="slide_down">Logout</a>
                <a href="/profile" type="submit" class="slide_down">Profile</a>
                <a href="/about" type="submit" class="slide_down">About</a>

            </div>
        </div>
    </div>

</div>


<div id="content">
  <div id="info">
    <h3>Your saved items</h3>
    <ul class="userSaved">
      <% for(var i=0; i<userSavedMigrations.length; i++) {%>
        <p class="message">
          <span><a href="<%= userSavedMigrations[i].article%>">
              <%= userSavedMigrations[i].title %>
            </a></span>
          <%= userSavedMigrations[i].notes %>
 
            <span>
              <button data-id="<%= userSavedMigrations[i]._id%>" class="fa fa-trash" aria-hidden="true">
                DELETE</button>
            </span>
            <span>
              <button data-id="<%= userSavedMigrations[i]._id%>" class="viewNote" aria-hidden="true">
                Notes</button>
            </span>
          </p>
        <% } %>
    </ul>

    </div>
    <script src="buttons.js"></script>
</body>

</html>